*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #10c7e7;
    color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho.imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}
